@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "_variables";
@import "modules/hello.scss";

body {
  background: lightblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  position: relative;
  width: 375px;
  height: 812px;

background: #3767AD;
}

.hydrapp  {
position: absolute;
width: 275px;
height: 48px;
left: 50px;
top: 47px;
justify-content: center;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 64px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;  

}
.square {
position: absolute;
width: 280px;
height: 280px;
left: 47px;
top: 203px;

}

.glass {
position: absolute;
left: 12.5%;
right: 12.5%;
top: 0%;
bottom: 0%;
}

.water {
position: absolute;
left: 20.88%;
right: 21.62%;
top: 22.47%;
bottom: 6.25%;

}

.number {
position: absolute;
left: 40%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 112px;
line-height: 131px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.button {
border-style: none;
position: absolute;
width: 216px;
height: 47px;
left: 79px;
top: 531px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;



background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.button2 {
border-style: none;
position: absolute;
width: 184px;
height: 23px;
left: 95px;
top: 615px;
justify-content: center;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: white;
background: #3767AD;

}